body {
  background: white;
}

.smirnoff {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/smirnoff.png");
  background-size: contain;
  background-position: center;
  background-repeat: repeat-y;
}
